@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.speakers {
  width: 100%;
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -100;
  padding-top: 3%;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 2rem;
}

.title {
  color: #817eff;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  font-family: Nunito Sans;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1rem;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 8% 8% 8% 5%;
}

.speakerCard {
  display: flex;
  margin-bottom: 9rem;
}

.speakerImg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 28rem;
}

.image {
  height: 22rem;
  width: 65%;
  border-radius: 2rem;
  box-shadow: 0 0 20px 7.5px #7056D9;
}

/* .img{
  height: inherit;
}
 */


/* 
.speakerImg::before{
  content: '';
  position: absolute;
  width: 200px;
  height: 140%;
  background: linear-gradient(to left, #0A0917, #E50032, #0A0917);
  animation: rotate 4s linear infinite;
}

.speakerImg::after{
  content: '';
  position: absolute;
  background: transparent;
  inset: 5px;
  border-radius: 2rem;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
} */


.speakerData {
  display: flex;
  flex-direction: column;
  align-self: center;
  height: fit-content;
  padding-inline: 1rem;
  max-width: 50rem;
  padding: 0 9%;
}

.name {
  color: #fff;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08rem;
  margin-top: 2%;
}

.company {
  color: #9747ff;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.16rem;
}

.info {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.12rem;
  padding-top: 1rem;
  text-align: justify;
}
 
@media only screen and (max-width: 992px) {
  .speakerImg{
    margin-bottom: 10%;
  }
} 
/* FOR MOBILE, TABLET */
@media only screen and (max-width: 550px) {
  .speakerCard {
    max-width: 48rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
  }
  .speakerData{
    justify-content: center;
    margin-inline: 1.5rem;
  }
  .speakerImg{
    max-height: 20rem;
    margin-bottom: 10%;
    padding: 2%;
  }
  .image{
    width: 80%;
    height: 20rem;
  }
  .name, .company{
    text-align: center;
  }
  .dir{
    flex-direction: column;
  }
  .speakers{
    padding-top: 10%;
  }
}


/* FOR LAPTOP, DESKTOP */

@media only screen and (min-width: 992px) {
  .title {
    font-size: 5rem;
  }

  .speakerCard > * {
    flex: 1 1;
  }

  .dir{
    flex-direction: row;
  }
  .altdir{
    flex-direction: row-reverse;
  }
  .speakerCard {
    justify-content: space-evenly;
  }
  .speakerData{
    padding-right: 0rem;
  }
  /* .name{
    padding-inline: 0.7rem;
  }
  .company{
    padding-inline: 1.2rem;
  } */
}

@media (max-width:400px){
  .title{
    font-size: 3.5rem;
  }

  .name{
    font-size: 2.5rem;
  }
}